aniso8601
asgiref
certifi
chardet
Django
django-allauth
django-graphql-jwt
django-rest-auth
djangorestframework
mongoengine
dnspython
graphene
graphene-django
graphene-file-upload
graphql-core
graphql-relay
idna
numpy
pymongo
python-dateutil
pytz
requests
sqlparse
text-unidecode
typing_extensions
tzdata
urllib3
