aniso8601
asgiref
certifi
chardet
django
django-allauth
django-graphql-jwt
django-rest-auth
djangorestframework
dnspython
graphene
graphene-django
graphene-file-upload
graphql-core
graphql-relay
idna
numpy
python-dateutil
pytz
requests
sqlparse
text-unidecode
typing_extensions
tzdata
urllib3
mysqlclient